{% load thumbor_tags %}
 <a href="{% url 'opps_poll:list_poll'%}">< All polls </a><br/>
 Opps Poll Voted

<h1>{{ poll.question }}</h1>
<div>{{ poll.headline|safe }}</div>
{% if poll.main_image %}
<img src="{% thumbor_url poll.main_image.image.url width=100 %}" />
{% endif %}
<h2> Thanks for voting </h2>

<h3> Your choices:</h3>
<ul>
{% for choice in voted %}

   <li>{{choice}}</li>

{% endfor %}
</ul>

{% if poll.show_results %}
 <a href="{% url 'opps_poll:result_poll' slug=poll.slug result='results' %}"> Ver resultados </a><br/>
{% endif %}
